*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: auto;
  font-size: 62.5%;
  @include respond(phone) {
    font-size: 55%;
  }
}

body {
  box-sizing: border-box;
}

:root {
  --dark: #080808;
  --green: #a5fa00;
  --pink: #ff44bf;
}

.router {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
