.card {
  &-1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 22rem;
    height: 24rem;
  }
  &-2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 22rem;
    height: 24rem;
  }

  &-img {
    max-width: 100%;
    min-width: 22rem;
    height: 100%;
    object-fit: cover;
    border-radius: 3rem;
    cursor: pointer;
    transition: all 200ms;
    &:hover {
      transform: scale(1.07);
    }
  }
}
