.footer {
  &-container {
    display: block;
    color: #fff;
    background-color: $color-dark;
    // flex-direction: column;
  }

  &-top,
  &-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.5rem 0;
    margin: 3rem;
  }
  &-bottom {
    list-style: none;
    font-family: $bold;
    font-weight: $bold--weight;
    border-top: 1px solid rgba(255, 255, 255, 0.2);

    & li {
      margin: 0.5rem;
    }
  }
  &-top {
    @include respond(phone) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &-right {
    display: flex;
    @include respond(phone) {
      flex: 1;
      justify-content: flex-end;
    }
  }
  &--twitter,
  &--instagram {
    background-color: $color-primary;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(165, 250, 0, 0.4);

    display: flex;
    justify-content: center;
    align-items: center;

    & p {
      font-size: 1.8rem;
      font-weight: bold;
      color: $color-dark;
    }
  }
  &--twitter {
    margin-right: 1.5rem;
  }

  &-links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;

    text-transform: uppercase;

    margin: 0 $inner-left;
    @include respond(phone) {
      order: 3;
      margin: 4rem auto;
      font-size: 3rem;
    }

    & li {
      @include respond(phone) {
        width: 100%;
      }
    }

    & :not(:first-child) {
      margin-left: $inner-left;
      @include respond(phone) {
        margin-left: 0;
      }
    }
  }
}
